<div class="h1 row justify-content-center" style="padding-top: 128px; padding-bottom: 56px">
  Housekeeper
</div>

<small class="form-text text-danger mb-4" *ngIf="error" style="padding-bottom: 56px">
  {{ error }}
</small>
<div class="row d-flex justify-content-center">
  <form action="#!" #form="ngForm" (submit)="onSubmit(form)" [class.loading]="loading">
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" name="email" class="form-control" ngModel/>
      <label class="form-label" for="form1Example1">Email address</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" name="password" class="form-control" ngModel/>
      <label class="form-label" for="form1Example2">Password</label>
    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <!-- Checkbox -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked/>
          <label class="form-check-label" for="form1Example3"> Remember me </label>
        </div>
      </div>

      <div class="col">
        <!-- Simple link -->
        <a href="#!">Forgot password?</a>
      </div>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
  </form>
</div>
