<body class="fixed-sn light-blue-skin">
<div class="my-nav">
  <div>

    <ul class="nav nav-tabs mb-3" id="myTab0" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          (click)="nav_home()"
          [ngClass]="['nav-link', home_tab_visibility]"
          [routerLink]="['/home']"
          type="button"
        >
          Home
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          (click)="nav_rooms()"
          [ngClass]="['nav-link', rooms_tab_visibility]"
          [routerLink]="['/rooms']"
          type="button"
        >
          Rooms
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          (click)="nav_tasks()"
          [ngClass]="['nav-link', tasks_tab_visibility]"
          [routerLink]="['/tasks']"
          type="button"
        >
          Tasks
        </button>
      </li>
    </ul>
  </div>
  <div *ngIf="afAuth.user | async as user" style="display: flex; flex-direction: row; height: 0%">
    <a class="nav-link">
      <i class="fas fa-user mx-2"></i>
      <span class="clearfix d-none d-sm-inline-block gray-gradient font-weight-bold">
                                {{user.email}}
                            </span>
    </a>
    <button class="btn btn-outline-danger btn-rounded waves-effect"
            (click)="logout()">
      Sign out
    </button>
  </div>
</div>
</body>
